<p id="notice"><%= notice %></p>

<p>
  <strong>Meat:</strong>
  <%= @taco.meat %>
</p>

<p>
  <strong>Rice:</strong>
  <%= @taco.rice %>
</p>

<p>
  <strong>Salsa:</strong>
  <%= @taco.salsa %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @taco.notes %>
</p>

<%= link_to 'Edit', edit_taco_path(@taco) %> |
<%= link_to 'Back', tacos_path %>
